// ------------------------- Colors ----------------------------- //
$primary-color: #0b1220;
$primary-color-2: #131b2c;
$color-accent: #22c55e;

// ------------------------- Typography ----------------------------- //
$font-size: 16px;
//$font-size-mobile: 18px;
$primary-font: "Figtree", sans-serif;
$font-weight: 500;
$font-weight-bold: 700;

//------------------------- Breakpoints -----------------------------//

//------------------------- Margins -----------------------------//
$page-padding-horizontal: 15rem;
$page-padding-top: 8rem;
$page-nav-padding: 2.5rem;
$margin-web-gap: 5rem;
