@use "../abstracts/index" as a;

.home-page {
  display: flex;
  @include a.responsive(a.$first-breakpoint) {
    display: block;
  }
  &__image {
    @include a.responsive(a.$first-breakpoint) {
      @include a.center-flex;
    }
    & img {
      width: 45vw;
      @include a.responsive(a.$first-breakpoint) {
        width: 80vw;
      }
    }
  }
  &__info {
    margin-left: a.$margin-web-gap;
    @include a.responsive(a.$first-breakpoint) {
      width: 100%;
      margin-left: 0;
      margin-top: 3rem;
    }
    & p {
      margin-bottom: 2rem;
    }
    & h1 {
      margin-bottom: 1rem;
    }
  }
  &__btn {
    margin-left: 1rem;
    @include a.responsive(a.$first-breakpoint) {
      margin-left: 23vw;
    }
  }
}
